@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Hiệu ứng hover cho menu item */
.hover-bg-gray:hover {
  background-color: #343a40; /* Màu xám bootstrap bg-dark-subtle */
  cursor: pointer;
}

.hover-bg-gray:hover span, 
.hover-bg-gray:hover i {
  color: white !important; /* Sáng chữ lên khi hover */
}

/* Hiệu ứng xoay mũi tên */
.transition-icon {
  transition: transform 0.3s ease;
}
.rotate-180 {
  transform: rotate(180deg);
}
body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
/* Ẩn nút tăng giảm trên Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Ẩn nút tăng giảm trên Firefox */
.no-spinner {
  -moz-appearance: textfield;
}